<!DOCTYPE html manifest="application.appcache">

  <head>
    <meta name="google-site-verification" content="o6i0IUQ_w1KustXOcV0FTA3SfX99OHKP1DEdiv1Fi8w" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title> Social Chat </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="favicon.png" type="image/png" />
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="css/style.min.css" />


  </head>

  <body>

    <!-- main -->
    <div class="row" id="backbone">
    </div>
    <!-- /main -->


    <!-- build:template
    <% if (environment === 'dev') { %>
      <script data-main="js/config.js" src="libs/require.js"></script>
    <% } else { %>
      <script data-main="js/main-built.js" src="libs/require.js"></script>
    <% } %>
    /build -->

  </body>

</html>
