header
  #progress_indicator
  h2#step_title
  p#step_instructions
.current_step_container
footer
  #buttons
    button#prev_step_button.btn.btn-info Prev:
    button#next_step_button.btn.btn-info Next: